body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

button{
    background: none;
    color: #8900ff;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: border-color 0.25s,box-shadow 0.25s,transform 0.25s;
}

button:hover{
    border-color: #ff0677;
    color: #ff0677;
    box-shadow: 0 0 5px #ff0677,0 0 25px #ff0677,0 0 50px #ff0677,0 0 200px #ff0677;
    transform: translateY(-0.25em);
    cursor: pointer;
}